// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$player-white: #e8e8ec;

.back {
  width: 100%;
  background-color: rgba(232, 2, 103,0.7);
  color: white;
  border: black 1px solid;
}

.back:hover {
  width: 100%;
  background-color: rgba(232, 2, 103,0.7);
  color: white;
  border: black 1px solid;
}

.search-container {
  width: 84.95%;
  position: absolute;
  border-right: 1px black solid;
  border-left:  1px black solid;
  display: inherit;
  z-index: 3;
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.search-container-show {
  // width: 84.95%;
  // position: absolute;
  // border-right: 1px black solid;
  // border-left:  1px black solid;
  // display: inherit;
  // z-index: 3;
  // background-color: rgba(0,0,0,0.8);
  // color: white;
}

.add-search-container {
  width: 100%;
  background-color: rgba(232, 2, 103,0.7);
  color: white;
  border: black 1px solid;
}

.add-search-container:hover {
  width: 100%;
  background-color: rgba(232, 2, 103,0.9);
  color: white;
  border: black 1px solid;
}

.add-search-container:active {
  width: 100%;
  background-color: rgba(232, 2, 103,0.9);
  color: white;
  border: black 1px solid;
}

.playlist-details {
  background-color: rgba(0,0,0,0.8);
  height: 2.5em;
  line-height: 2.5em;
}
.playlist-name {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding-left: 1rem;
}

.playlist-description {
  color: white;
  width: 33%;
  font-style: italic;
  display: inline-block;
}

#make-public {
  background-color: #0ab091;
  color: white;
  width: 33%;
  float: right;
  height: 2.5em;
  border: black 1px solid;
}

#make-public:hover {
  background-color: #003a3e;
  color: white;
  width: 33%;
  float: right;
  height: 2.5em;
  border: black 1px solid;
}

#make-public::active {
  background-color: #003a3e;
  color: white;
  width: 33%;
  float: right;
  height: 2.5em;
  border: black 1px solid;
}

#make-public.active {
  background-color: #003a3e;
  color: white;
  width: 33%;
  float: right;
  height: 2.5em;
  border: black 1px solid;
}


html {
  background: url("https://static.pexels.com/photos/195280/pexels-photo-195280.jpeg") center center fixed no-repeat;
  background-size: cover;
}

nav {
  margin-bottom: 10px;
  background: #23232D;
  padding-left: 1rem;
}

iframe {
    width: 100%;
}

.btn {
  padding: 0 15px;
}

.btn:hover:before {
  opacity:1
}

.btn:before {
    content: '';
    opacity: 0;
    background-color: rgba(255,255,255,.2);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}

.song-in-queue {
  // background: white;
  border-bottom: 1px solid rgba(232, 232, 236, 0.4);
  // border-left: 1px solid #cccccc;
  // border-right: 1px solid #cccccc;
  padding: 5px 1rem;
  line-height: 2.5;
  // background: linear-gradient(to left, #bfbfc0, rgb(248, 248, 249));
  color: $player-white;
  overflow: hidden;
  position: relative;
}

.played {
  background-color: rgba(232, 232, 236, 0.4);
}

.song-list {
  padding-top: 5px;
  z-index: 1;
  background-color: rgba(30, 28, 39, 0.82);
  // padding-top: 5px;
  // padding-bottom: 5px;
};

.q {
  font-family: 'Abril Fatface', cursive;
  float: left;
  margin-top: 7px;
}

.user_info {
  float: right;
  padding-right: 20px;
  margin: 0px;
}

.buttons {
    position: absolute;
    right: 60px;
}

.heart {
    position: absolute;
    right: 20px;
}

.nav_bar {
  background: rgba(35, 35, 44, 0.39);
  // background: linear-gradient(to left, #dcb7a0, #aeaeae,#87b5b0)
}

.btn-flat {
  padding: 0 15px;
  color: white;
}

html{
  position: relative;
}

.hidden {
  display: none;
}

.song-listing {
  border-bottom: rgba(232, 2, 103,0.7);
}

.suggest_song1 {
  background-color: rgba(74, 199, 164,0.5);
  color: white;
  border-radius: 50px;
  border: black 1px solid;
  font-weight: bold;
  line-height: 0.8;
}

.suggest_song1:hover {
  background-color: rgba(232, 2, 103,0.7);
  color: white;
  border-radius: 50px;
  border: black 1px solid;
  font-weight: bold;
  line-height: 0.8;
}

.suggest_song1-active {
  background-color: rgba(232, 2, 103,0.7);
  color: white;
  border-radius: 50px;
  border: black 1px solid;
  font-weight: bold;
  line-height: 0.8;
}
