// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.viewable-screen {
  height: 100vh;
}

input {
  // background-color: white;
  color: white;
  padding: 0 90px;
  border: none;
}

a {
  color: cadetblue;
}

a.btn.logins:hover {
  background-color: white;
  color: black;
}

img.queue {
    width: 123px;
    height: 205px;
}


label {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

input[type="submit"] {
  width: 100%;
  color: white;
  background-color: rgba(0,0,0,0.5);
  border: black 1px solid;
}

input[type="submit"]:hover {
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0.8);
  border: black 1px solid;
}

input[type="submit"]:active {
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0.8);
  border: black 1px solid;
  font-size: 15px;
}

.field {
    color: white;
}

.dropdown {
  color: black;
}

#login-button, #sign-up-button, #playlist-button, #join-button, #playlist-edit-button {
  color: cadetblue;
}

.login-session {
  color: cadetblue;
  width: 100%
}

.q-description {
  background-color: white;
  position: relative;
  top: 0px;
  padding: 45px 60px;
}

.q-instructions {
    position: relative;
    top: 0px;
    background-color: rgba(55, 55, 55, 0.75);
    padding: 45px 60px;
    color: white;
}


.intro {
  margin-top: 15px;
}

.login {
  color: white;
}

.intro-bio {
  margin: 0;
  text-align: center;
}

.login-form, .sign-up-form, .party-form {
  background-color: rgba(35, 35, 44, 0.43);
  // margin-top: 90px;
  margin-bottom: 10px;
}

.title {
  color: white;
}

.buttons-home, .buttons-user {
  margin-top: 8px;
  .logins {
    display: block;
    margin-bottom: 19px;
    background-color: rgba(255, 255, 255, 0);
    width: 41%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 500px;
    color: white;
    font-weight: 500;
    letter-spacing: 1.3px;
    border: solid 1px white;
  }
}


#email, #password {
  color: white;
}
