// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-delete {
  float: right;
}
.guest-playlist {
  width: 90%;
  border-bottom: rgba(232, 2, 103,0.9) 1px solid;
}

.hosted-playlist {
  border-bottom: rgba(74, 199, 164,0.9) 1px solid;
  width: 90%;
}

.hosted-playlist a {
  color: white;
}

#host-title {
  background-color: rgba(74, 199, 164,0.9);
  border: rgba(74, 199, 164,0.9) 1px solid;
  color: white;
  display: block;
  padding-left: 1rem;
}

#guest-title {
  background-color: rgba(232, 2, 103,0.9);
  border: rgba(232, 2, 103,0.9) 1px solid;
  color: white;
  display: block;
  padding-left: 1rem;
}

.hosted-playlists {
  background-color: rgba(0, 0, 0, 0.44);
  color: white;
  margin-top: 9rem;
  padding-bottom: 0.5rem;
}

.guest-playlists {
  background-color: rgba(0, 0, 0, 0.44);
  color: white;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}


#host-button a {
  color: white;
}

#join-button a {
  color: white;
}

.start-container {
  text-align: center;
}

label {
  color: white;
  font-size: 15px;
}

#host-button, #join-button {
  background-color: rgba(0, 0, 0, 0.74);
}

.party-buttons {
  margin-top: 200px;
}

.login-session {
  color: cadetblue;
  width: 100%
}

.hidden {
  display: none;
}

input {
  // background-color: white;
  color: white;
  padding: 0 90px;
  // color: #039be5;
  border: none;
}

.playlists {
  text-align: center;
  .play-title {
    color: white;
  }
}

.guest-title {
  text-decoration: none;
  color: cadetblue;
  padding-top: 20px;
  padding-bottom: 5px;
}

.guest {
    color: slategray;
}

.guest-delete {
  float: right;
}

h3 {
  text-align: center;
  color: white;
  text-decoration: underline;

}
