
<h1 class="title">Join a Playlist</h1>

<%= form_tag(add_guest_path) %>
<%= label_tag("access_code") %>
<%= text_field_tag "access_code" %>
<button class="btn login-session white" type="submit" name="action">Join a Playlist!
</button>
