<div id="d_player"></div>
<div id="dz-root"></div>
<script src="http://e-cdn-files.deezer.com/js/min/dz.js"></script>
<script>
  window.dzAsyncInit = function() {
  DZ.init({
    appId  : '226822',
    channelUrl : 'http://localhost:3000/playlist/player',
    player : {
      container: 'd_player',
      width : 800,
      height : 300,
      onload : function(){}
    }
  })
  };
    if (<%= @first_song > 0 %>) {
      setTimeout(function(){DZ.player.playTracks([<%= @first_song %>])}, 2000);
      setTimeout(function(){DZ.Event.subscribe('track_end', function(evt_name){
        console.log("Track has ended");
        DZ.player.playTracks([<%= @second_song %>])},2000);
    });
  };


  (function() {
  var e = document.createElement('script');
  e.src = 'http://e-cdn-files.deezer.com/js/min/dz.js';
  e.async = true;
  document.getElementById('dz-root').appendChild(e);
  }());
</script>
